# Proyecto final

##Fase 1: Limpieza de datos

In [ ]:
#Cargar el archivo CSV desde tu computadora:
from google.colab import files

# Selecciona el archivo CSV desde tu computadora
uploaded = files.upload()

Saving Billionaires Statistics Dataset.csv to Billionaires Statistics Dataset.csv

In [ ]:
#Importar libreria requerida
import pandas as pd
import io

# Lee el archivo CSV desde el objeto uploaded
df = pd.read_csv(io.BytesIO(uploaded['Billionaires Statistics Dataset.csv']))

In [ ]:
#visualizar la tabla con su información en general
df

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2636,2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

In [ ]:
# Verifica valores nulos en el DataFrame
print(df.isnull().sum())

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

In [ ]:
# Elimina filas con valores nulos y actualiza el DataFrame
df = df.dropna()

#Una vez eliminadas pasamos a visualizar si tenemos vacios o datos nulos
print(df.isnull().sum())
df

rank                                          0
finalWorth                                    0
category                                      0
personName                                    0
age                                           0
country                                       0
city                                          0
source                                        0
industries                                    0
countryOfCitizenship                          0
organization                                  0
selfMade                                      0
status                                        0
gender                                        0
birthDate                                     0
lastName                                      0
firstName                                     0
title                                         0
date                                          0
state                                         0
residenceStateRegion                          0
birthYear                                     0
birthMonth                                    0
birthDay                                      0
cpi_country                                   0
cpi_change_country                            0
gdp_country                                   0
gross_tertiary_education_enrollment           0
gross_primary_education_enrollment_country    0
life_expectancy_country                       0
tax_revenue_country_country                   0
total_tax_rate_country                        0
population_country                            0
latitude_country                              0
longitude_country                             0
dtype: int64

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
5,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2405,1100,Sports,Tiger Woods,47.0,United States,Jupiter Island,Golf,Sports,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
2566,2540,1000,Fashion & Retail,William Fisher,66.0,United States,San Francisco,Gap,Fashion & Retail,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
2581,2540,1000,Sports,LeBron James,38.0,United States,Los Angeles,Basketball,Sports,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
2602,2540,1000,Technology,Apoorva Mehta,36.0,United States,San Francisco,Grocery delivery service,Technology,Canada,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891
2608,2540,1000,Media & Entertainment,Tyler Perry,53.0,United States,Atlanta,"Movies, television",Media & Entertainment,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.09024,-95.712891

In [ ]:
#Verificamos datos nulos por columnas
print(df['finalWorth'].isnull().sum())

0

In [ ]:
# Observar detalladamente los diferentes valores del datasets, permitiendonos detectar anomalías a primera vista.
print(df.describe)

<bound method NDFrame.describe of       rank  finalWorth               category      personName   age  \
1        2      180000             Automotive       Elon Musk  51.0
2        3      114000             Technology      Jeff Bezos  59.0
3        4      107000             Technology   Larry Ellison  78.0
4        5      106000  Finance & Investments  Warren Buffett  92.0
5        6      104000             Technology      Bill Gates  67.0
...    ...         ...                    ...             ...   ...
2519  2405        1100                 Sports     Tiger Woods  47.0
2566  2540        1000       Fashion & Retail  William Fisher  66.0
2581  2540        1000                 Sports    LeBron James  38.0
2602  2540        1000             Technology   Apoorva Mehta  36.0
2608  2540        1000  Media & Entertainment     Tyler Perry  53.0

            country            city                    source  \
1     United States          Austin             Tesla, SpaceX
2     United States          Medina                    Amazon
3     United States           Lanai                    Oracle
4     United States           Omaha        Berkshire Hathaway
5     United States          Medina                 Microsoft
...             ...             ...                       ...
2519  United States  Jupiter Island                      Golf
2566  United States   San Francisco                       Gap
2581  United States     Los Angeles                Basketball
2602  United States   San Francisco  Grocery delivery service
2608  United States         Atlanta        Movies, television

                 industries countryOfCitizenship  ... cpi_change_country  \
1                Automotive        United States  ...                7.5
2                Technology        United States  ...                7.5
3                Technology        United States  ...                7.5
4     Finance & Investments        United States  ...                7.5
5                Technology        United States  ...                7.5
...                     ...                  ...  ...                ...
2519                 Sports        United States  ...                7.5
2566       Fashion & Retail        United States  ...                7.5
2581                 Sports        United States  ...                7.5
2602             Technology               Canada  ...                7.5
2608  Media & Entertainment        United States  ...                7.5

               gdp_country gross_tertiary_education_enrollment  \
1     $21,427,700,000,000                                 88.2
2     $21,427,700,000,000                                 88.2
3     $21,427,700,000,000                                 88.2
4     $21,427,700,000,000                                 88.2
5     $21,427,700,000,000                                 88.2
...                    ...                                 ...
2519  $21,427,700,000,000                                 88.2
2566  $21,427,700,000,000                                 88.2
2581  $21,427,700,000,000                                 88.2
2602  $21,427,700,000,000                                 88.2
2608  $21,427,700,000,000                                 88.2

     gross_primary_education_enrollment_country life_expectancy_country  \
1                                         101.8                    78.5
2                                         101.8                    78.5
3                                         101.8                    78.5
4                                         101.8                    78.5
5                                         101.8                    78.5
...                                         ...                     ...
2519                                      101.8                    78.5
2566                                      101.8                    78.5
2581                                      101.8                    78.5
2602                                      101.8                    78.5
2608                                      101.8                    78.5

     tax_revenue_country_country total_tax_rate_country population_country  \
1                            9.6                   36.6        328239523.0
2                            9.6                   36.6        328239523.0
3                            9.6                   36.6        328239523.0
4                            9.6                   36.6        328239523.0
5                            9.6                   36.6        328239523.0
...                          ...                    ...                ...
2519                         9.6                   36.6        328239523.0
2566                         9.6                   36.6        328239523.0
2581                         9.6                   36.6        328239523.0
2602                         9.6                   36.6        328239523.0
2608                         9.6                   36.6        328239523.0

     latitude_country longitude_country
1            37.09024        -95.712891
2            37.09024        -95.712891
3            37.09024        -95.712891
4            37.09024        -95.712891
5            37.09024        -95.712891
...               ...               ...
2519         37.09024        -95.712891
2566         37.09024        -95.712891
2581         37.09024        -95.712891
2602         37.09024        -95.712891
2608         37.09024        -95.712891

[238 rows x 35 columns]>

In [ ]:
# Obtén los nombres de todas las columnas
nombres_columnas = df.columns

# Convertir los nombres de las columnas a una lista para mayor facilidad
lista_nombres_columnas = list(nombres_columnas)

# Imprimir los nombres de las columnas
print(lista_nombres_columnas)

['rank', 'finalWorth', 'category', 'personName', 'age', 'country', 'city', 'source', 'industries', 'countryOfCitizenship', 'organization', 'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName', 'title', 'date', 'state', 'residenceStateRegion', 'birthYear', 'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country', 'gdp_country', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment_country', 'life_expectancy_country', 'tax_revenue_country_country', 'total_tax_rate_country', 'population_country', 'latitude_country', 'longitude_country']

##Eliminar las columnas Irrelevantes para nuestro dataset según objetivos de proyecto

**NOTA:** Una vez que hemos ya eliminado por primera vez de nuestro dataset las columnas y volvemos a ejecutar el código drop, nos dará un error debido a que esas columnas ya fueron eliminadas, y por lo tanto, ya no exite en nuestra base de datos

In [ ]:
# Lista de nombres de las columnas a eliminar
columnas_a_eliminar = ['selfMade', 'lastName', 'firstName', 'cpi_country', 'cpi_change_country', 'gdp_country', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment_country', 'life_expectancy_country', 'tax_revenue_country_country', 'total_tax_rate_country', 'population_country', 'latitude_country', 'longitude_country']

# Elimina las columnas especificadas
df = df.drop(columns=columnas_a_eliminar)

In [ ]:
# Imprimir los nombres de las columnas para verificar nuevamente que ya no se encuentren las columnas eliminadas
print(lista_nombres_columnas)

['rank', 'finalWorth', 'category', 'personName', 'age', 'country', 'city', 'source', 'industries', 'countryOfCitizenship', 'organization', 'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName', 'title', 'date', 'state', 'residenceStateRegion', 'birthYear', 'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country', 'gdp_country', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment_country', 'life_expectancy_country', 'tax_revenue_country_country', 'total_tax_rate_country', 'population_country', 'latitude_country', 'longitude_country']

In [ ]:
df

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,status,gender,birthDate,title,date,state,residenceStateRegion,birthYear,birthMonth,birthDay
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,D,M,6/28/1971 0:00,CEO,4/4/2023 5:01,Texas,South,1971.0,6.0,28.0
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,D,M,1/12/1964 0:00,Chairman and Founder,4/4/2023 5:01,Washington,West,1964.0,1.0,12.0
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,U,M,8/17/1944 0:00,CTO and Founder,4/4/2023 5:01,Hawaii,West,1944.0,8.0,17.0
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,D,M,8/30/1930 0:00,CEO,4/4/2023 5:01,Nebraska,Midwest,1930.0,8.0,30.0
5,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,D,M,10/28/1955 0:00,Cochair,4/4/2023 5:01,Washington,West,1955.0,10.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2519,2405,1100,Sports,Tiger Woods,47.0,United States,Jupiter Island,Golf,Sports,United States,...,N,M,12/30/1975 0:00,Athlete,4/4/2023 5:01,Florida,South,1975.0,12.0,30.0
2566,2540,1000,Fashion & Retail,William Fisher,66.0,United States,San Francisco,Gap,Fashion & Retail,United States,...,D,M,4/1/1957 0:00,Director,4/4/2023 5:01,California,West,1957.0,4.0,1.0
2581,2540,1000,Sports,LeBron James,38.0,United States,Los Angeles,Basketball,Sports,United States,...,N,M,12/30/1984 0:00,Athlete,4/4/2023 5:01,California,West,1984.0,12.0,30.0
2602,2540,1000,Technology,Apoorva Mehta,36.0,United States,San Francisco,Grocery delivery service,Technology,Canada,...,D,M,7/19/1986 0:00,Founder,4/4/2023 5:01,California,West,1986.0,7.0,19.0
2608,2540,1000,Media & Entertainment,Tyler Perry,53.0,United States,Atlanta,"Movies, television",Media & Entertainment,United States,...,E,M,9/14/1969 0:00,Director,4/4/2023 5:01,Georgia,South,1969.0,9.0,14.0

##Asegurandose que las edades sean números enteros (sin decimales)

Pero antes vamos a crear una manera más simplificada de visualizar los datos de nuestro dataset con df.head

In [ ]:
#Este código imprimirá las primeras 5 filas del DataFrame df.
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,status,gender,birthDate,title,date,state,residenceStateRegion,birthYear,birthMonth,birthDay
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,D,M,6/28/1971 0:00,CEO,4/4/2023 5:01,Texas,South,1971.0,6.0,28.0
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,D,M,1/12/1964 0:00,Chairman and Founder,4/4/2023 5:01,Washington,West,1964.0,1.0,12.0
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,U,M,8/17/1944 0:00,CTO and Founder,4/4/2023 5:01,Hawaii,West,1944.0,8.0,17.0
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,D,M,8/30/1930 0:00,CEO,4/4/2023 5:01,Nebraska,Midwest,1930.0,8.0,30.0
5,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,D,M,10/28/1955 0:00,Cochair,4/4/2023 5:01,Washington,West,1955.0,10.0,28.0

Como pudimos visualizar los datos de la columna **"age"** están en decimales, por lo que realizaremos el cambio a números enteros, como lo mostraremos a continuación;

In [ ]:
# Convierte la columna 'age' a tipo de dato entero
df['age'] = df['age'].astype(int)
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,status,gender,birthDate,title,date,state,residenceStateRegion,birthYear,birthMonth,birthDay
1,2,180000,Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,D,M,6/28/1971 0:00,CEO,4/4/2023 5:01,Texas,South,1971.0,6.0,28.0
2,3,114000,Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,...,D,M,1/12/1964 0:00,Chairman and Founder,4/4/2023 5:01,Washington,West,1964.0,1.0,12.0
3,4,107000,Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,...,U,M,8/17/1944 0:00,CTO and Founder,4/4/2023 5:01,Hawaii,West,1944.0,8.0,17.0
4,5,106000,Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,D,M,8/30/1930 0:00,CEO,4/4/2023 5:01,Nebraska,Midwest,1930.0,8.0,30.0
5,6,104000,Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,...,D,M,10/28/1955 0:00,Cochair,4/4/2023 5:01,Washington,West,1955.0,10.0,28.0

Eliminamos columnas filtradas con datos nulos y que no pertenecen a nuestro conjunto de datos requeridos

In [ ]:
# Lista de nombres de las columnas que deseas eliminar
columnas_a_eliminar2 = ['date']

# Elimina las columnas especificadas del DataFrame
df = df.drop(columns=columnas_a_eliminar2)

In [ ]:
# Lista de nombres de las columnas que deseas eliminar
columnas_a_eliminar3 = ['birthYear','birthMonth','birthDay']

# Elimina las columnas especificadas del DataFrame
df = df.drop(columns=columnas_a_eliminar3)

##Cambiando formato a los datos

Ahora pasamos a eliminar la parte de la hora (0:00) de la columna 'birthDate', para esto usamos el método pd.to_datetime() para convertir la columna a objetos de tipo datetime y luego usar dt.date para quedarnos solo con la parte de la fecha y eliminar la parte de la hora

In [ ]:
# Convertimos la columna 'birthDate	' a formato datetime y luego a solo fecha y visualizamos nuevamente
df['birthDate'] = pd.to_datetime(df['birthDate']).dt.date
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,status,gender,birthDate,title,state,residenceStateRegion,birthYear,birthMonth,birthDay
1,2,180000,Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,D,M,1971-06-28,CEO,Texas,South,1971,6,28
2,3,114000,Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,Amazon,D,M,1964-01-12,Chairman and Founder,Washington,West,1964,1,12
3,4,107000,Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,Oracle,U,M,1944-08-17,CTO and Founder,Hawaii,West,1944,8,17
4,5,106000,Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),D,M,1930-08-30,CEO,Nebraska,Midwest,1930,8,30
5,6,104000,Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,D,M,1955-10-28,Cochair,Washington,West,1955,10,28

In [ ]:
#Visualizamos los tipos de datos de nuestra dataset
print(df.dtypes)

rank                             int64
Patrimonio neto                 object
category                        object
Nombre                          object
age                              int64
country                         object
city                            object
Fuente de riqueza               object
industries                      object
País de ciudadanía              object
organization                    object
status                          object
Género                          object
birthDate               datetime64[ns]
title                           object
state                           object
Región de residencia            object
dtype: object

Es preferible manejar un solo tipo de datos, sin embargo el cambio de algunos datos en sus formatos, se irán ajustando en el momento de visualizarlo con PowerBi

In [ ]:
# Convierte la columna 'birthDate' a objetos de fecha y hora
df['birthDate'] = pd.to_datetime(df['birthDate'])

# Verifica que la conversión se haya realizado correctamente
print(df['birthDate'])

1      1971-06-28
2      1964-01-12
3      1944-08-17
4      1930-08-30
5      1955-10-28
          ...
2454   1944-12-08
2602   1986-07-19
2566   1957-04-01
2581   1984-12-30
2608   1969-09-14
Name: birthDate, Length: 238, dtype: datetime64[ns]

##Ordenando en orden ascendente

In [ ]:
# Ordena el DataFrame por la columna 'rank' en orden ascendente
df = df.sort_values(by='rank', ascending=True)

# Muestra las primeras filas del DataFrame ordenado
df.head()

,rank,Patrimonio neto,category,Nombre,age,country,city,Fuente de riqueza,industries,País de ciudadanía,organization,status,Género,birthDate,title,state,Región de residencia
1,2,"$18,000,000.00",Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,D,M,1971-06-28,CEO,Texas,South
2,3,"$11,400,000.00",Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,Amazon,D,M,1964-01-12,Chairman and Founder,Washington,West
3,4,"$10,700,000.00",Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,Oracle,U,M,1944-08-17,CTO and Founder,Hawaii,West
4,5,"$10,600,000.00",Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),D,M,1930-08-30,CEO,Nebraska,Midwest
5,6,"$10,400,000.00",Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,D,M,1955-10-28,Cochair,Washington,West

##Convertir el número en tu conjunto de datos a dólares con dos ceros demás antes de la coma

In [ ]:
# Multiplica el número por 100 para agregar dos ceros antes de la coma
df['finalWorth'] = df['finalWorth'] * 100

# Convierte el número a dólares y formatea con dos ceros antes de la coma
df['finalWorth'] = df['finalWorth'].apply(lambda x: '${:,.2f}'.format(x))

# Imprime el DataFrame para verificar los cambios
print(df)

      rank      finalWorth               category      personName  age  \
1        2  $18,000,000.00             Automotive       Elon Musk   51
2        3  $11,400,000.00             Technology      Jeff Bezos   59
3        4  $10,700,000.00             Technology   Larry Ellison   78
4        5  $10,600,000.00  Finance & Investments  Warren Buffett   92
5        6  $10,400,000.00             Technology      Bill Gates   67
...    ...             ...                    ...             ...  ...
2454  2405     $110,000.00             Technology   David Hindawi   78
2602  2540     $100,000.00             Technology   Apoorva Mehta   36
2566  2540     $100,000.00       Fashion & Retail  William Fisher   66
2581  2540     $100,000.00                 Sports    LeBron James   38
2608  2540     $100,000.00  Media & Entertainment     Tyler Perry   53

            country           city                    source  \
1     United States         Austin             Tesla, SpaceX
2     United States         Medina                    Amazon
3     United States          Lanai                    Oracle
4     United States          Omaha        Berkshire Hathaway
5     United States         Medina                 Microsoft
...             ...            ...                       ...
2454  United States        Seattle                  Software
2602  United States  San Francisco  Grocery delivery service
2566  United States  San Francisco                       Gap
2581  United States    Los Angeles                Basketball
2608  United States        Atlanta        Movies, television

                 industries countryOfCitizenship  \
1                Automotive        United States
2                Technology        United States
3                Technology        United States
4     Finance & Investments        United States
5                Technology        United States
...                     ...                  ...
2454             Technology        United States
2602             Technology               Canada
2566       Fashion & Retail        United States
2581                 Sports        United States
2608  Media & Entertainment        United States

                         organization status gender   birthDate  \
1                               Tesla      D      M  1971-06-28
2                              Amazon      D      M  1964-01-12
3                              Oracle      U      M  1944-08-17
4      Berkshire Hathaway Inc. (Cl A)      D      M  1930-08-30
5     Bill & Melinda Gates Foundation      D      M  1955-10-28
...                               ...    ...    ...         ...
2454                           Tanium      D      M  1944-12-08
2602                        Instacart      D      M  1986-07-19
2566                         Gap Inc.      D      M  1957-04-01
2581                              NBA      N      M  1984-12-30
2608                       Television      E      M  1969-09-14

                     title       state residenceStateRegion  birthYear  \
1                      CEO       Texas                South       1971
2     Chairman and Founder  Washington                 West       1964
3          CTO and Founder      Hawaii                 West       1944
4                      CEO    Nebraska              Midwest       1930
5                  Cochair  Washington                 West       1955
...                    ...         ...                  ...        ...
2454    Executive Chairman  Washington                 West       1944
2602               Founder  California                 West       1986
2566              Director  California                 West       1957
2581               Athlete  California                 West       1984
2608              Director     Georgia                South       1969

      birthMonth  birthDay
1              6        28
2              1        12
3              8        17
4              8        30
5             10        28
...          ...       ...
2454          12         8
2602           7        19
2566           4         1
2581          12        30
2608           9        14

[238 rows x 20 columns]

In [ ]:
#Visualizamos de manera más clara el cambio obtenido
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,status,gender,birthDate,title,state,residenceStateRegion,birthYear,birthMonth,birthDay
1,2,"$18,000,000.00",Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,D,M,1971-06-28,CEO,Texas,South,1971,6,28
2,3,"$11,400,000.00",Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,Amazon,D,M,1964-01-12,Chairman and Founder,Washington,West,1964,1,12
3,4,"$10,700,000.00",Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,Oracle,U,M,1944-08-17,CTO and Founder,Hawaii,West,1944,8,17
4,5,"$10,600,000.00",Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),D,M,1930-08-30,CEO,Nebraska,Midwest,1930,8,30
5,6,"$10,400,000.00",Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,D,M,1955-10-28,Cochair,Washington,West,1955,10,28

##Cambiando nombres de columnas

In [ ]:
# Definimos un diccionario que mapee los nombres antiguos a los nuevos nombres
nuevos_nombres = {
    "residenceStateRegion": "Región de residencia",
    "gender": "Género",
    "countryOfCitizenship": "País de ciudadanía ",
    "personName": "Nombre",
    "finalWorth": "Patrimonio neto",
    "source": "Fuente de riqueza",
}

# Cambiamos los nombres de las columnas usando el método rename()
df.rename(columns=nuevos_nombres, inplace=True)

# Mostramos las primeras filas para verificar los cambios
df.head()

,rank,Patrimonio neto,category,Nombre,age,country,city,Fuente de riqueza,industries,País de ciudadanía,organization,status,Género,birthDate,title,state,Región de residencia,birthYear,birthMonth,birthDay
1,2,"$18,000,000.00",Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,D,M,1971-06-28,CEO,Texas,South,1971,6,28
2,3,"$11,400,000.00",Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,Amazon,D,M,1964-01-12,Chairman and Founder,Washington,West,1964,1,12
3,4,"$10,700,000.00",Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,Oracle,U,M,1944-08-17,CTO and Founder,Hawaii,West,1944,8,17
4,5,"$10,600,000.00",Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),D,M,1930-08-30,CEO,Nebraska,Midwest,1930,8,30
5,6,"$10,400,000.00",Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,D,M,1955-10-28,Cochair,Washington,West,1955,10,28

In [ ]:
#visualizamos finalmente nuestra tabla completa con los datos limpios y preparados
df

,rank,Patrimonio neto,category,Nombre,age,country,city,Fuente de riqueza,industries,País de ciudadanía,organization,status,Género,birthDate,title,state,Región de residencia
1,2,"$18,000,000.00",Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,D,M,1971-06-28,CEO,Texas,South
2,3,"$11,400,000.00",Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,United States,Amazon,D,M,1964-01-12,Chairman and Founder,Washington,West
3,4,"$10,700,000.00",Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,United States,Oracle,U,M,1944-08-17,CTO and Founder,Hawaii,West
4,5,"$10,600,000.00",Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),D,M,1930-08-30,CEO,Nebraska,Midwest
5,6,"$10,400,000.00",Technology,Bill Gates,67,United States,Medina,Microsoft,Technology,United States,Bill & Melinda Gates Foundation,D,M,1955-10-28,Cochair,Washington,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,2405,"$110,000.00",Fashion & Retail,Robert Fisher,69,United States,San Francisco,Gap,Fashion & Retail,United States,Gap Inc.,D,M,1953-08-01,Chairman of the Board,California,West
2566,2540,"$100,000.00",Fashion & Retail,William Fisher,66,United States,San Francisco,Gap,Fashion & Retail,United States,Gap Inc.,D,M,1957-04-01,Director,California,West
2581,2540,"$100,000.00",Sports,LeBron James,38,United States,Los Angeles,Basketball,Sports,United States,NBA,N,M,1984-12-30,Athlete,California,West
2602,2540,"$100,000.00",Technology,Apoorva Mehta,36,United States,San Francisco,Grocery delivery service,Technology,Canada,Instacart,D,M,1986-07-19,Founder,California,West
2608,2540,"$100,000.00",Media & Entertainment,Tyler Perry,53,United States,Atlanta,"Movies, television",Media & Entertainment,United States,Television,E,M,1969-09-14,Director,Georgia,South

##Integración archivo CSV y PowerBi

Para integrar los datos limpios y preparados en Google Colab con Power BI Desktop, ejecutamos el siguiente comando, y luego descargamos el archivo csv en nuestro pc, para luego hacer la integración requerida

In [ ]:
# Guarda el DataFrame en un archivo CSV
df.to_csv('datos_limpios.csv', index=False)

Una vez descargado en nuestro pc, finalmente hemos terminado la parte de preparación y limpieza de nuestros datos, y pasamos a integrarlo con PowerBi Desktop, y visualizar el informe con los graficos adecuados para su fácil interpretación.